
<div class="container">
 <div class="search-form">
  <div class="card">
    <!-- RECHERCHE -->
      <%= search_form_for @q, html: {class: "row"} do |f| %>
      <div class="col-lg-9">
        <div class="form-group">
          <%= f.search_field :nom_cont, class: "form-control form-control-lg", placeholder: "Etablissement, Ecole, Adresse, Catégorie" %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <button type="submit" class="btn btn-lg btn-primary btn-block">Chercher</button>
        </div>
      </div>
      <% end %>
    <!-- RECHERCHE END -->
  </div>
</div>
</div>

<div class="container">
   <div class="row justify-content-md-center">
      <div class="col col-lg-12 col-xl-10">
         <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="/">Home</a></li>
               <li class="breadcrumb-item"><a href="/etablissements">Etablissements</a></li>
            </ol>
         </nav>
      </div>
   </div>
</div>
<div id="content">
   <div class="container">
      <div class="row justify-content-md-center">
         <div class="col col-lg-12 col-xl-10">
            <div class="row has-sidebar">
               <div class="col-md-4 col-lg-3">
                  <button id="toggle-filters" class="btn btn-primary btn-circle mobile-filter"><i class="fa fa-filter"></i></button>
                  <div id="sidebar" class="sidebar-left">
                     <button class="close-panel btn btn-white"><i class="fa fa-long-arrow-left"></i></button>
                     <div class="sidebar_inner">
                        <div id="filters">
                           <div class="card">

                              <% if user_signed_in? %>
                              <div>
                                  <% if current_user.role=="responsable" %>
                                      <% if session[:etab_id] != nil %>
                                        <div class="card-header">
                                           <h4 class="panel-title"> <a role="button" href="<%= etablissement_path(session[:etab_id]) %>" aria-expanded="true" aria-controls="p_type"> Mon établissement </a> </h4>
                                        </div> 
                                          
                                      <% else %>
                                        <div class="card-header">
                                           <h4 class="panel-title"> <a role="button" href="<%= new_etablissement_path %>" aria-expanded="true" aria-controls="p_type"> Créer votre établissement </a> </h4>
                                        </div> 
                                      <% end %>
                                  <% end %>
                              </div>
                              <% end %>
                              
                           </div>
                           <div class="card">
                              <div class="card-header">
                                 <h4 class="panel-title"><%= sort_link(@q, :nom, "Trier par nom") %></i></h4>
                              </div>
                              <div class="card-header">
                                 <h4 class="panel-title"><%= sort_link(@q, :likers_count, "Trier par likes") %></i></h4>
                              </div>
                              <div class="card-header">
                                 <h4 class="panel-title"><%= sort_link(@q, :category, "Trier par catégories") %></i></h4>
                              </div>
                              
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-8 col-lg-9">
                  <div class="clearfix"></div>
                  <div class="item-listing grid">
                     <div class="row">
                        <!-- INDEX FOR ETAB START -->
                        


                        <% @etablissements.each do |etab| %>
                        <a href="<%= etablissement_path(etab.id) %>">
                        	<div class="col-lg-6">
                        		<div class="item">
                        			<div class="item-image">
                        					<%= image_tag etab.image_etablissement.url(:thumb), class: "img-fluid" %>
                        					<% if etab.category? %>
                        					<div class="item-badges">
                        						<div class="item-badge-left"><%= etab.category %></div>
                        					</div>
                        					<% end %>
                        				<a href="<%= etablissement_path(etab.id) %>"></a>
                        			</div>
                    				<div class="item-info">
                    					<h3 class="item-title"><%= etab.nom %></h3>
                    					<div class="item-location"><i class="fa fa-map-marker"></i>&nbsp;
                                 <%= etab.adress %></div>
                                 <a href="<%= likes_path(etab)%>">
                          					<div class="item-details-i"><i class="fa fa-thumbs-up"></i>&nbsp;
                                       <%= etab.likers_count %>
                                    </div>
                                 </a>
                    				</div>
                        		</div>
                        	</div>
                        </a>
                    <% end %>
                        <!-- INDEX FOR ETAB END -->
                     </div>
                  </div>
                  <nav aria-label="Page navigation">
                     <%= paginate @etablissements %>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>