







<div id="content">
   <div class="container">
      <div class="row justify-content-md-center">
         <div class="col col-lg-12 col-xl-10">
            <div class="row has-sidebar">
               <div class="col-md-7 col-lg-8 col-xl-8">
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog</li>
                     </ol>
                  </nav>
                  <div class="page-header v2 bordered mb0">
                     <h1>Blog <small>Latest News</small></h1>
                  </div>
                  <div class="clearfix"></div>
                  <div class="item-listing grid">


                <!-- CONTENU DU BLOG -->
                <% @articles.each do |a| %>
                     <div class="item item-lg">
                        <% if a.photo_url %>
                            <div class="item-image">
                               <a href="blog_single.html">
                                  <%= image_tag a.photo_url(:large), class: "img-fluid" %>
                               </a>
                            </div>
                        <% end %>
                        <h3 class="item-title"><%= a.titre %></h3>
                        <div class="item-meta-info"><span class="date"><%= a.created_at  %></span><span class="author">par <%= a.etablissement.nom  %></span></div>
                        <div class="item-excerpt">
                            <%= a.message %>
                        </div>
                        <a href="<%= article_path(a.id) %>" class="read-more">Read More</a>
                     </div>
                <% end %>
                <!-- CONTENU DU BLOG END -->
                     
                  </div>
                  <nav aria-label="Page navigation">
                     <%= paginate @articles %>
                  </nav>
               </div>
               <div class="col-md-5 col-lg-4 col-xl-4 col-sidebar">
                  <div id="sidebar" class="sidebar-right">
                     <div class="sidebar_inner">
                        <h3 class="subheadline">Actions</h3>
                        <div class="list-group no-border">
                            <% if user_signed_in? %>
                                <% if session[:responsable] %>
                                    <% if session[:etab_id] %>
                                        <a href="<%= new_article_path %>" class="list-group-item">Créer un article</a>
                                        <!--a href="<%= articles_path %>" class="list-group-item">Voir mes articles</a-->
                                    <% end %>
                                <% end %>
                            <% else %>
                                    Vous devez vous connecter pour pouvoir afficher les actions disponibles !
                                
                            <% end %>
                        </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
