<div class="container">
<p id="notice"><%= notice %></p>

<h1>Vagues</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Rentree</th>
      <th scope="col">Status</th>
      <th scope="col" colspan="3" style="text-align:center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @vagues.each do |vague| %>
    <tr>
      <td><%= vague.rentree %></td>
      <td><%= vague.status %></td>
      <td><%= link_to 'Show', vague, class: "btn btn-success" %></td>
      <% if user_signed_in? %>
        <% if current_user.role == "admin" %>
          <td><%= link_to 'Edit', edit_vague_path(vague), class: "btn btn-warning" %></td>
          <td><%= link_to 'Destroy', vague, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <% end %>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if user_signed_in? %>
    <% if current_user.role == "admin" %>
      <%= link_to 'New Vague', new_vague_path, class: "btn btn-secondary" %>
    <% end %>
<% end %>
</div>